

# I9Verification


## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**citizenOfCountry** | **String** | Country of which the employee is citizen of.              |  [optional] |
|**workEligibility** | **WorkEligibility** |  |  [optional] |
|**workVisaType** | **String** | Work visa type of the employee. Maximum characters should be 20.              |  [optional] |
|**workVisaExpirationDate** | **OffsetDateTime** | Expiration date of the work visa.              |  [optional] |
|**alienAdmissionNumber** | **String** | Alien admission number of the employee.              |  [optional] |
|**alienAdmissionExpirationDate** | **OffsetDateTime** | Expiration date of the alien admission.              |  [optional] |
|**listA** | [**ListA**](ListA.md) |  |  [optional] |
|**listB** | [**ListB**](ListB.md) |  |  [optional] |
|**listC** | [**ListC**](ListC.md) |  |  [optional] |
|**foreignPassportNumber** | **String** | Foreign passport number of the employee.              |  [optional] |
|**countryOfIssuance** | **String** | Country of issuance of the foreign passport.              |  [optional] |
|**additionalInformation** | **String** | Additional information for the I9 verification. Must be under 768 characters.              |  [optional] |
|**hireDate** | **OffsetDateTime** | Hire date of the employee. |  [optional] |
|**dateModified** | **OffsetDateTime** | Date when document were last updated.              |  [optional] |



