openapi: 3.0.0
info:
  description: "\nWelcome to Paycor's Public API! This document is a reference for\
    \ the APIs Paycor has available, and acts as a complement to the \"Guides\" section.\
    \ \n\n# Getting Started\n\n<strong>To learn more about getting started with Paycor's\
    \ Public APIs, check out our <a href=\"/guides\">Guides.</a></strong>\n\n# GET,\
    \ PUT, POST\n\n* When requesting object, use GET endpoints. All list endpoints\
    \ support paging, as described [in the other doc]. \n* When creating an object,\
    \ use POST endpoints. Your code will need to create an object and send it to Paycor\
    \ in your API call request body as JSON. You can use the \"request sample\" body\
    \ as a starting point. Our endpoints will return a reference to the created object\
    \ (the ID and GET API URL) for your system.\n* When updating an object, you will\
    \ use PUT endpoints. The general flow would be to: GET the object you want to\
    \ update, modify the fields as desired, then PUT the object (as JSON in the request\
    \ body) to our endpoints. Some fields like the object's ID cannot be updated because\
    \ they are system-set.'\n\n\n# Error Handling\n\n* 400: Please consult the response\
    \ text to correct your request information. \n* 401 with response \"Access denied\
    \ due to missing subscription key\": Please include your APIM Subscription Key\
    \ as header Ocp-Apim-Subscription-Key or querystring parameter subscription-key.\
    \ \n* 401 with no response: Please ensure you included a valid & current Access\
    \ Token in the Authorization header.\n* 403: Please ensure your Access Token's\
    \ scope has all the relevant access you need, on the AppCreator Data Access screen.\
    \ \n* 404: Please validate the API route you are using. If that is correct, one\
    \ of your IDs most likely does not exist or is not in a valid state. \n* 429:\
    \ Paycor implements rate limits for our Public API. Each customer (implemented\
    \ via APIM subscription key) has a limited number of calls. The number of calls\
    \ is counted across all APIs, not per individual API. Please use bulk endpoints\
    \ where available and spread your calls over a wider timespan.\n  * The default\
    \ rate limit is up to 1000 API calls per minute (total across all our Public APIs).\
    \ \n* 500: Please contact Paycor. When you make a POST or PUT call and receive\
    \ a 500, please do not retry the call automatically - this may result in double-posting.\
    \ GETs can be safely retried.\n\n\n# IDs\n\n* ClientId = LegalEntityId\n* TenantId\
    \ = CompanyId\n* EmployeeId is not visible in Paycor's UI, you must retrieve it\
    \ from the Public API\n\n# Earnings, Deductions, Taxes\n\nThis section describes\
    \ the domain model for Paycor's Earnings, Deductions, and Taxes. This will provide\
    \ background for many paydata-related Public API endpoints. \n\nPaycor stores\
    \ Earnings, Deductions, and Taxes each at three levels:\n* Global: Same data across\
    \ all legal entities. Setup by Paycor for customers to choose from. Sample Codes\
    \ (note these will not be setup on every Legal Entity):\n  * Earnings: REG, OT\n\
    \  * Taxes: FITWH, SOC, SOCER, OHCIN\n  * Deductions: 401k, KMat, H125, UWay\n\
    * Legal Entity or Tenant: Codes setup &amp; customized on the legal entity or\
    \ Tenant level. Must be tied to a Global Code. \n  * Perform UI allows creating\
    \ Deduction and Earning codes on Tenant level (under Configure Company nav menu).\
    \ These will be returned by the Legal Entity Public API endpoints. \n* Employee:\
    \ codes setup on a particular employee, tied to a Legal Entity-level or Tenant-level\
    \ code\n  * Employee Earnings/Deductions/Taxes are applied during payroll. Many\
    \ properties are inherited from the Legal Entity or Global levels, but some can\
    \ be overridden. \n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions>\
    \ -->"
  title: Paycor Public API
  version: ""
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
- url: https://apis.paycor.com
security:
- Access-Token: []
- Apim-Subscription-Key: []
tags:
- description: |-
    These endpoints interact with Employees.
    * An Employee is linked to a single Legal Entity, a single Person, and a single Tenant.
    * Each Person will be linked to one or more Employees (setup by the admin in the Manage People screen).
    * Employee APIs will return Work email addresses, not Home.
  name: Employees
- description: "\r\nEmployees can setup Direct Deposit accounts to send their paycheck\
    \ into bank accounts or HSA accounts. \r\n* To use the Employee Direct Deposit\
    \ endpoints, the Legal Entity must have the Direct Deposit Workflow product or\
    \ an error will be returned\r\n* Employees can choose a 'partial' or a 'full'\
    \ (called Net) Direct Deposit. Partial Direct Deposits must set either a Rate\
    \ or an Amount.\r\n* All Direct Deposits and HSA Direct Deposits must be tied\
    \ to a Deduction Code that has already been setup on the Legal Entity.\r\n  *\
    \ To add a new DD, you'll need to call 'GET Legal Entity Deductions' and find\
    \ a Deduction Code of the correct type - usually one with DD or HSA in the Code.\r\
    \n"
  name: Employee Direct Deposits
- description: "\r\nFor more information, see documentation section titled 'Earnings,\
    \ Deductions, and Taxes.'\r\n"
  name: Employee Taxes
- description: Legal entity work locations information.
  name: Legal Entity Work Locations
- description: "A Person is tied to a single Tenant, and will work in one or more\
    \ Legal Entities (FEINs) - each of which will be be represented by one or more\
    \ Employee rows. \n* Person APIs will return all Phone types, and Home-type emails\
    \ (not work-type emails). "
  name: Persons
- description: "\r\nFor more information, see documentation section titled 'Earnings,\
    \ Deductions, and Taxes.'\r\n"
  name: Employee Deductions
- description: "\r\nFor more information, see documentation section titled 'Earnings,\
    \ Deductions, and Taxes.'\r\n"
  name: Employee Earnings
- description: "\r\nThis API allows working with an employee's Pay Stubs. Each Pay\
    \ Period will generate one Pay Stub.\r\n* Calling GET Legal Entity Pay Data is\
    \ required before calling GET Employee Pay Stubs, to obtain a list of valid check\
    \ dates.\r\n\r\n"
  name: Employee Pay Stubs
- description: "\r\nThese APIs interact with Paycor’s Perform Time Scheduling system.\
    \ They will only be available to customers with Perform Time Scheduling service\r\
    \n* Perform Time Scheduling (sometimes called Legacy Scheduling) stores basic\
    \ information about Shifts\r\n* The Public APIs do not communicate with the more\
    \ powerful “Paycor Scheduling” system. For Paycor Scheduling please refer to the\
    \ documentation under the ‘Employee Schedules’ section. (Coming Soon)\r\n"
  name: Employee (Legacy / Perform Time) Schedules
- description: "\r\nThese APIs allow working with the Departments (also called Organizations)\
    \ that have been configured on the Legal Entity. \r\n"
  name: Legal Entity Departments
- description: "Applicant Tracking System\r\n\r\nThese endpoints can only be used\
    \ if the Client has the Applicant Tracking Service."
  name: Applicant Tracking System
- description: Employee certification information
  name: Employee Certifications
- description: "\r\nThese endpoints allow working with an Employee's pay rate, as\
    \ setup on their profile by the Administrator. \r\n"
  name: Employee Pay Rates
- description: "These APIs allow querying employees' requests to take time off.\r\n\
    * These APIs require the 'Perform Time Off' service.\r\n"
  name: Time Off Requests
- description: This API allows working with Labor Codes
  name: Labor Codes
- description: "A Tenant is a collection of multiple Legal Entities. Each Legal Entity\
    \ is one FEIN. \n* In Paycor terminology, a Tenant is also known as a Company. "
  name: Tenants
- description: ' This API allows working with an employee''s custom fields '
  name: Employee Custom Fields
- description: This APIs allow working with Documents of the Employees
  name: Employee Documents
- description: "\r\nThese APIs interact with Paycor's Payroll system directly. They\
    \ do not go through any Time system.\r\n\r\n* Paycor will need to add the 'Integration\
    \ Payroll Time Partner' or have the Trackforce product enabled.\r\n* They are\
    \ useful if you are integrating a third-party time product with Paycor.\r\n* You\
    \ will need to choose an Earning Code for each set of Hours. The Code must already\
    \ be setup on the particular Employee - you can use the Employee Earnings endpoints\
    \ for this.\r\n* Calling this endpoint kicks off a backend import process. Currently,\
    \ there are no APIs to read or monitor the import process. A client administrator\
    \ must import, review & submit the payrun before any employees will be paid.\r\
    \n* Client administrator will need to login to Paycor's Paygrid and use the Import\
    \ Time Card feature to see & approve the values. They will see an Import Pay screen\
    \ when they Begin a new Payrun.\r\n"
  name: Employee Payroll Hours
- description: ' This API allows working with an employee''s I9 Verification fields '
  name: Employee I9 Verification
- description: "\r\nThese APIs allow working with employees in the onboarding state.\r\
    \n\r\nThese endpoints can only be used if the Client has the Onboarding Service."
  name: Employee Onboarding
- description: "\r\nThese APIs interact with Paycor's Perform Time system.\r\n* They\
    \ will only work with Perform Time-enabled clients - otherwise you will receive\
    \ an error.\r\n* These APIs will not work for Time on Demand or Attendance on\
    \ Demand clients.\r\n"
  name: Employee Time Card Punches
- description: "Accruals are time-off benefits for employees that increase over time,\
    \ and are updated when a payrun is run (the employee is paid). \r\n* Common plans\
    \ include PTO, vacation time, sick time, and floating holidays. \r\n* Accrual\
    \ types and plans are setup at the Tenant level in Paycor's UI by the HR Admin.\
    \ \r\n* Each employee can participate in a number of individual Accrual plans.\
    \ \r\n* This API is only available to legal entities with the 'Perform Accruals'\
    \ service. It is not available to clients with the older 'Perform Time Off' service.\
    \ There is a migration path available. "
  name: Employee Time Off Accruals
- description: "\r\nA Legal Entity is a single FEIN (Federal ID number, for tax purposes).\
    \ A Legal Entity will have a single Tenant as its parent. \r\n* In Paycor terminology,\
    \ a Legal Entity is called a 'client'. \r\n  * Paycor customers are often familiar\
    \ with their ClientId, which is a synonym for Public API's Legal Entity ID. \r\
    \n"
  name: Legal Entities
- description: Legal entity certification information
  name: Legal Entity Certifications
- description: Post Emergency Contact Details.
  name: Employee Emergency Contact
- description: "\r\nThis API allows working with an employee's scheduled Pay Periods,\
    \ which indicates when the employee was/will be paid (known as a payrun). \r\n\
    * Note that Pay Schedule is unrelated to the employee's work schedule or timecard\
    \ information. \r\n* The employee's actual pay dates may not match the Pay Schedule,\
    \ depending on the payroll admin's processing. \r\n  * An employee may be excluded\
    \ from scheduled payruns. \r\n  * An employee may also have Additional Payruns\
    \ (such as for bonuses) - which this API will not return. \r\n* A given employee\
    \ will have a default Pay Frequency (such as Biweekly), which will define the\
    \ Pay Schedule calendar.\r\n  * The employee's Pay Frequency is defined by the\
    \ Paygroup they are assigned to. \r\n* This endpoint can be used to retrieve parameters\
    \ for GET Employee Pay Stubs, although 'GET Legal Entity Paydata' would be more\
    \ accurate for that. \r\n"
  name: Employee Pay Schedule
- description: This API allows working with clients General Ledger
  name: General Ledger
- description: This API allows working with clients Job Costing
  name: General Ledger Job Costing
- description: This API allows working with Labor Categories
  name: Labor Categories
- description: "\r\nPaycor's Public API doesn't currently include editing Legal Entity-level\
    \ Deductions. Those must be setup by a client administrator in Paycor's system.\
    \ \r\n\r\nFor more information, see documentation section titled 'Earnings, Deductions,\
    \ and Taxes.'\r\n\r\n"
  name: Legal Entity Deductions
- description: "\r\nPaycor's Public API doesn't currently include editing Legal Entity-level\
    \ Earnings. Those must be setup by a client administrator in Paycor's system.\
    \ \r\n\r\nFor more information, see documentation section titled 'Earnings, Deductions,\
    \ and Taxes.'\r\n"
  name: Legal Entity Earnings
- description: Legal entity job titles information
  name: Legal Entity Job Titles
- description: "\r\nAllows working with Pay Data information from Paycor's Payroll\
    \ system.\r\n* Works with the dates that employees are actually paid, as opposed\
    \ to the Pay Schedule which returns their scheduled pay dates.\r\n\r\n"
  name: Legal Entity Pay Data
- description: "\r\nEach Paycor Legal Entity has a collection of one or more Payrolls.\
    \ Each Payroll contains one or more Paygroups. These APIs return data about both.\
    \ \r\n\r\nThis structure can be modified by the client administrator - there are\
    \ currently no Public APIs for editing. \r\n"
  name: Legal Entity Pay Groups
- description: This API allows working with legal entity pay periods
  name: Legal Entity Payroll Processing Data
- description: "\r\nThis API allows working with a Paygroup's scheduled Pay Periods,\
    \ which indicates when its employees was/will be paid (known as a payrun). \r\n\
    * Note that Pay Schedule is unrelated to the employee's work schedule or timecard\
    \ information. \r\n* The actual pay dates may vary depending on when the Payroll\
    \ Admin processes payroll. \r\n* This endpoint can be used to retrieve parameters\
    \ for GET Employee Pay Stubs, although 'GET Legal Entity Paydata' would be more\
    \ accurate for that. \r\n"
  name: Legal Entity Pay Schedule
- description: This API allows working with Activity Types
  name: Legal Entity Activity Types
- name: Legal Entity Schedule Groups
- description: "\r\nLegal Entity Services are optional products and offerings that\
    \ the entity may choose to subscribe. \r\n* Calling certain Public APIs will require\
    \ the Legal Entity to have a certain Service. \r\n"
  name: Legal Entity Services
- name: Legal Entity Status Reason
- description: "For more information, see documentation section titled 'Earnings,\
    \ Deductions, and Taxes.'"
  name: ' Legal Entity Taxes'
- name: Legal Entity Time Off Types
- name: Legal Entity Work Sites
- name: Events
- name: Legal Entity Time Data
- name: Job Titles
paths:
  /v1/legalEntities/{legalEntityId}/ats/{atsAccountId}/jobs:
    get:
      description: "Data Access: View ATS Account jobs by ATS Account ID"
      operationId: ApplicantTrackingSystem_getAccountJobs
      parameters:
      - description: Paycor Legal Entity ID of the legal entity for which you want
          to get the ATS account jobs
        explode: false
        in: path
        name: legalEntityId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-position: 1
      - description: ATS account ID of for which you want to get the ATS account jobs
        explode: false
        in: path
        name: atsAccountId
        required: true
        schema:
          nullable: true
          type: string
        style: simple
        x-position: 2
      - description: "Options to include more data: All, Hiring managers, Recruiters,\
          \ Team members, Executives"
        explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            $ref: '#/components/schemas/Includes'
          nullable: true
          type: array
          xml:
            name: ArrayOfIncludes
            wrapped: true
        style: form
        x-position: 3
      - description: Option to filter jobs based on if they are posted to the careers
          page
        explode: true
        in: query
        name: postedToCareers
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
        x-position: 4
      - description: Option to filter jobs by status
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/JobStatus'
        style: form
        x-position: 5
      - explode: true
        in: query
        name: continuationToken
        required: false
        schema:
          format: guid
          nullable: true
          type: string
        style: form
        x-position: 6
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfJob'
          description: Returns a list of ATS Account jobs for ATS Account Id
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Get a list of ATS Account jobs for ATS Account Id
      tags:
      - Applicant Tracking System
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-legalEntities-legalEntityId-ats-atsAccountId-jobs
      x-accepts: application/json
  /v1/legalEntities/{legalEntityId}/ats/{atsAccountId}/jobs/{atsJobId}:
    get:
      description: "Data Access: View ATS Account Job by ATS Job Id"
      operationId: ApplicantTrackingSystem_getJobByJobId
      parameters:
      - description: Paycor Legal Entity ID of the legal entity for which you want
          to get the ATS account job
        explode: false
        in: path
        name: legalEntityId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-position: 1
      - description: ATS account ID of for which you want to get the ATS account job
        explode: false
        in: path
        name: atsAccountId
        required: true
        schema:
          nullable: true
          type: string
        style: simple
        x-position: 2
      - description: ATS Job ID
        explode: false
        in: path
        name: atsJobId
        required: true
        schema:
          nullable: true
          type: string
        style: simple
        x-position: 3
      - description: "Options to include more data: All, Hiring managers, Recruiters,\
          \ Team members, Executives"
        explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            $ref: '#/components/schemas/Includes2'
          nullable: true
          type: array
          xml:
            name: ArrayOfIncludes
            wrapped: true
        style: form
        x-position: 4
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: Returns an Account job for an ATS Account Id
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Get an ATS Account Job for ATS Account Id
      tags:
      - Applicant Tracking System
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-legalEntities-legalEntityId-ats-atsAccountId-jobs-atsJobId
      x-accepts: application/json
  /v1/legalEntities/{legalEntityId}/ats/accounts:
    get:
      description: "Data Access: View ATS Accounts By Legal Entity Id"
      operationId: ApplicantTrackingSystem_listAtsAccountsByLegalEntity
      parameters:
      - description: Paycor Legal Entity ID of the legal entity for which you want
          to get the ATS accounts
        explode: false
        in: path
        name: legalEntityId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-position: 1
      - explode: true
        in: query
        name: continuationToken
        required: false
        schema:
          format: guid
          nullable: true
          type: string
        style: form
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATSAccount'
          description: Returns a list of ATS Accounts for Legal Entity
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Get a list of ATS Accounts for Legal Entity
      tags:
      - Applicant Tracking System
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-legalEntities-legalEntityId-ats-accounts
      x-accepts: application/json
  /v1/employees/{employeeId}/emergencycontact:
    post:
      description: |-
        Either Home Phone, Work Phone or Mobile Phone must be specified

        Data Access: Create Emergency Contact
      operationId: EmployeeEmergencyContact_createUpdate
      parameters:
      - explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmergencyContact'
        required: true
        x-name: emergencyContactPost
        x-position: 2
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      tags:
      - Employee Emergency Contact
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-employees-employeeId-emergencycontact
      x-content-type: application/json
      x-accepts: application/json
  /v1/employees/{employeeId}/certifications:
    get:
      description: "Data Access: View Certification Information for Employee"
      operationId: EmployeeCertifications_listByEmployeeId
      parameters:
      - description: ID of the employee for which you want to get the certifications
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      - explode: true
        in: query
        name: continuationToken
        required: false
        schema:
          format: guid
          nullable: true
          type: string
        style: form
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfEmployeeCertification'
          description: Returns a list of Employee Certifications for an employee
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Get a list of Employee Certifications for an employee
      tags:
      - Employee Certifications
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-employees-employeeId-certifications
      x-accepts: application/json
    post:
      description: "Data Access: Create and Update Certification"
      operationId: EmployeeCertifications_addNewCertification
      parameters:
      - description: ID of an Employee for whom you want to add the certification
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certification'
        description: Certification object
        required: true
        x-name: certification
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Add Employee Certification
      tags:
      - Employee Certifications
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-employees-employeeId-certifications
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: "Data Access: Create and Update Certification"
      operationId: EmployeeCertifications_updateCertification
      parameters:
      - description: ID of the employee for which you want to update the certifications
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeCertification2'
        required: true
        x-name: certification
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
          description: Returns a resource reference for employee certifications
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Update Employee Certification
      tags:
      - Employee Certifications
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-employees-employeeId-certifications
      x-content-type: application/json
      x-accepts: application/json
  /v1/employees/{employeeId}/customfields:
    get:
      description: "Data Access: View Employee Custom Fields"
      operationId: EmployeeCustomFields_getByEmployeeId
      parameters:
      - description: ID of the employee for whom you want to get the custom fields
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      - description: Token to get the next set of employee custom fields
        explode: true
        in: query
        name: continuationToken
        required: false
        schema:
          format: guid
          nullable: true
          type: string
        style: form
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeCustomFieldsGetByEmployeeIdResponse'
          description: Returns a collection of employee custom fields based on EmployeeID
            provided
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Get Employee Custom Fields by EmployeeID
      tags:
      - Employee Custom Fields
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-employees-employeeId-customfields
      x-accepts: application/json
    put:
      description: "Data Access: Update Employee Custom Fields"
      operationId: EmployeeCustomFields_updateByEmployeeId
      parameters:
      - description: ID of an Employee for whom you want to update the custom field
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeCustomFieldsUpdateByEmployeeIdRequest'
        description: CustomFields object
        required: true
        x-name: customFields
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Update Custom Field by EmployeeID
      tags:
      - Employee Custom Fields
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
  /v1/employees/{employeeId}/deductions/{employeeDeductionId}:
    get:
      description: "Data Access: View Employee Deduction Information"
      operationId: EmployeeDeductions_getByEmployeeIdAndDeductionId
      parameters:
      - description: ID of an Employee for whom you want to get the deduction.
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      - description: ID of the Employee Deduction you want to get.
        explode: false
        in: path
        name: employeeDeductionId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 2
      - description: |-
          Options to include more data: All, AmountData

          Data Access required

          AmountData = View Employee Deduction Amounts
        explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            $ref: '#/components/schemas/Includes3'
          nullable: true
          type: array
          xml:
            name: ArrayOfIncludes
            wrapped: true
        style: form
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeDeduction'
          description: 'Returns an Employee Deduction based on the EmployeeID and
            DeductionID provided. '
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Get Employee Deduction by EmployeeID and EmployeeDeductionID
      tags:
      - Employee Deductions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-employees-employeeId-deductions-employeeDeductionId
      x-accepts: application/json
  /v1/employees/{employeeId}/deductions:
    get:
      description: "Data Access: View Employee Deductions Information"
      operationId: EmployeeDeductions_getByEmployeeId
      parameters:
      - description: ID of the employee for whom you want to get the deductions
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      - description: |-
          Options to include more data: All, AmountData

          Data Access required

          AmountData = View Employee Deductions Amounts
        explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            $ref: '#/components/schemas/Includes4'
          nullable: true
          type: array
          xml:
            name: ArrayOfIncludes
            wrapped: true
        style: form
        x-position: 2
      - description: Token to get the next set of employee earnings
        explode: true
        in: query
        name: continuationToken
        required: false
        schema:
          format: guid
          nullable: true
          type: string
        style: form
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfEmployeeDeduction'
          description: Returns a collection of employee deductions based on EmployeeID
            provided
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Get Employee Deductions by EmployeeID
      tags:
      - Employee Deductions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-employees-employeeId-deductions
      x-accepts: application/json
    post:
      description: |-
        Tip: first call "Get Legal Entity Deductions by Legal Entity ID" to get the valid Deduction Codes

        Data Access: Add Employee Deduction
      operationId: EmployeeDeductions_addDeductionToEmployee
      parameters:
      - description: ID of an Employee for whom you want to add the deduction
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeDeduction2'
        description: EmployeeDeduction object
        required: true
        x-name: employeeDeduction
        x-position: 2
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeDeductionsAddDeductionToEmployeeResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Add Deduction to Employee
      tags:
      - Employee Deductions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-employees-employeeId-deductions
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: "Data Access: Update Employee Deduction"
      operationId: EmployeeDeductions_updateByEmployeeId
      parameters:
      - description: ID of an Employee that has the Deduction you wish to update
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeDeduction3'
        description: EmployeeDeduction with ID set and fields updated
        required: true
        x-name: employeeDeduction
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Update Employee Deduction by EmployeeID
      tags:
      - Employee Deductions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-employees-employeeId-deductions
      x-content-type: application/json
      x-accepts: application/json
  /v1/employees/{employeeId}/HSAaccounts:
    get:
      description: "Data Access: View Employee HSA Account Information"
      operationId: EmployeeDirectDeposits_getByEmployeeIdHSA
      parameters:
      - description: ID of employee for whom you want to get HSA Direct Deposits
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      - description: Token to get next set of HSA Direct Deposits
        explode: true
        in: query
        name: continuationToken
        required: false
        schema:
          format: guid
          nullable: true
          type: string
        style: form
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfEmployeeDirectDeposit'
          description: Returns HSA Direct Deposits based on EmployeeID
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Get Employee HSA Direct Deposits by EmployeeID
      tags:
      - Employee Direct Deposits
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-employees-employeeId-HSAaccounts
      x-accepts: application/json
    post:
      description: "Data Access: Add Employee HSA Account"
      operationId: EmployeeDirectDeposits_addByEmployeeIdHsa
      parameters:
      - description: ID of employee for which you want to add HSA Direct Deposits
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeHsaDirectDeposit'
        description: HSA Direct Deposit object to insert
        required: true
        x-name: employeeDirectDeposit
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Add Employee HSA Direct Deposits by EmployeeID
      tags:
      - Employee Direct Deposits
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-employees-employeeId-HSAaccounts
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: "Data Access: Update Employee HSA Account Information"
      operationId: EmployeeDirectDeposits_updateHsaDirectDepositsByEmployeeId
      parameters:
      - description: ID of employee for which you want to update HSA Direct Deposits
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeHsaDirectDeposit2'
        description: HSA Employee Direct Deposit object with updated fields
        required: true
        x-name: employeeDirectDeposit
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Update Employee HSA Direct Deposits by EmployeeID
      tags:
      - Employee Direct Deposits
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-employees-employeeId-HSAaccounts
      x-content-type: application/json
      x-accepts: application/json
  /v1/employees/{employeeId}/DirectDeposits:
    get:
      description: "Data Access: View Employee Direct Deposit Information by Employee\
        \ Id"
      operationId: EmployeeDirectDeposits_getByEmployeeId
      parameters:
      - description: ID of employee for which you want to get Direct Deposits
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      - description: Token to get next set of direct deposits
        explode: true
        in: query
        name: continuationToken
        required: false
        schema:
          format: guid
          nullable: true
          type: string
        style: form
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfEmployeeDirectDeposit'
          description: Returns Direct Deposits based on EmployeeID
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Get Employee Direct Deposits by EmployeeID
      tags:
      - Employee Direct Deposits
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-employees-employeeId-DirectDeposits
      x-accepts: application/json
    post:
      description: "Data Access: Add Employee Direct Deposit"
      operationId: EmployeeDirectDeposits_addByEmployeeId
      parameters:
      - description: Id of employee for which you want to add Direct Deposits
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeDirectDeposit2'
        description: Direct Deposit object to insert
        required: true
        x-name: employeeDirectDeposit
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Add Employee Direct Deposits by EmployeeID
      tags:
      - Employee Direct Deposits
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-employees-employeeId-DirectDeposits
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: "Data Access: Update Employee Direct Deposit Information"
      operationId: EmployeeDirectDeposits_updateByEmployeeIdDDD
      parameters:
      - description: ID of employee for which you want to update Direct Deposit
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeDirectDeposit3'
        description: Employee Direct Deposit object with updated fields
        required: true
        x-name: employeeDirectDeposit
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Update Employee Direct Deposits by EmployeeID
      tags:
      - Employee Direct Deposits
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-employees-employeeId-DirectDeposits
      x-content-type: application/json
      x-accepts: application/json
  /v1/employees/{employeeId}/DirectDeposits/{directDepositId}:
    get:
      description: "Data Access: View Employee Direct Deposit Information by Direct\
        \ Deposit Id"
      operationId: EmployeeDirectDeposits_getByEmployeeAndDepositId
      parameters:
      - description: ID of employee for which you want to get Direct Deposits
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      - description: ID of an employee direct deposit which you want to retrieve
        explode: false
        in: path
        name: directDepositId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeDirectDeposit'
          description: Returns Direct Deposits based on EmployeeID
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Get Employee Direct Deposit by EmployeeID and DirectDepositID
      tags:
      - Employee Direct Deposits
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-employees-employeeId-DirectDeposits-directDepositId
      x-accepts: application/json
  /v1/employees/{employeeId}/paystubDocumentData:
    get:
      description: |-
        Start Date and End Date are required parameters.

        Data Access: Get Employee Pay Stub Document Link
      operationId: EmployeeDocuments_getPayStubDocumentByEmployeeId
      parameters:
      - description: ID of an Employee for whom you want to get the Pay Stubs Document
          Link
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      - description: Date that is earlier or equal to paycheck date
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          format: date-time
          type: string
        style: form
        x-position: 2
      - description: Date that is after or equal to paycheck date
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          format: date-time
          type: string
        style: form
        x-position: 3
      - description: Token to get the next set of Employee Pay Stubs Document Links
        explode: true
        in: query
        name: continuationToken
        required: false
        schema:
          format: guid
          nullable: true
          type: string
        style: form
        x-position: 4
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfPayStubFile'
          description: Returns a Employee Pay Stubs document link based on EmployeeID
            and date provided.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Get Employee Pay Stubs document link by EmployeeID
      tags:
      - Employee Documents
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-employees-employeeId-paystubDocumentData
      x-accepts: application/json
  /v1/employees/{employeeId}/PayStubDocument/{documentId}:
    get:
      description: "Data Access: Download Employee Pay Stub Document"
      operationId: EmployeeDocuments_downloadPayStub
      parameters:
      - description: Id of an Employee for whom you want to get the Pay Stub Document
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      - description: Id of Pay Stub Document
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 2
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/EmployeeDocumentsDownloadPayStubResponse'
          description: Returns Pay Stub Document that can be downloaded
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Download Employee Pay Stub Document
      tags:
      - Employee Documents
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-employees-employeeId-PayStubDocument-documentId
      x-accepts: application/json
  /v1/employees/{employeeId}/earnings/{employeeEarningId}:
    get:
      description: "Data Access: View Employee Earning Information"
      operationId: EmployeeEarnings_getByEmployeeAndEarning
      parameters:
      - description: ID of an Employee for whom you want to get the Earning
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      - description: ID of an Employee Earning you want to get
        explode: false
        in: path
        name: employeeEarningId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 2
      - description: |-
          Options to include more data: All, AmountData

          Data Access required

          AmountData = View Employee Earning Amounts
        explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            $ref: '#/components/schemas/Includes5'
          nullable: true
          type: array
          xml:
            name: ArrayOfIncludes
            wrapped: true
        style: form
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeEarning'
          description: Returns an Employee Earning based on the EmployeeID and EmployeeEarningID
            provided.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Get Employee Earning by EmployeeID and EmployeeEarningID
      tags:
      - Employee Earnings
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-employees-employeeId-earnings-employeeEarningId
      x-accepts: application/json
  /v1/employees/{employeeId}/earnings:
    get:
      description: "Data Access: View Employee Earnings Information"
      operationId: EmployeeEarnings_getByEmployeeId
      parameters:
      - description: ID of an Employee for whom you want to get the Earnings
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      - description: |-
          Options to include more data: All, AmountData

          Data Access required

          AmountData = View Employee Earnings Amounts
        explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            $ref: '#/components/schemas/Includes6'
          nullable: true
          type: array
          xml:
            name: ArrayOfIncludes
            wrapped: true
        style: form
        x-position: 2
      - description: Token to get the next set of Employee Earnings
        explode: true
        in: query
        name: continuationToken
        required: false
        schema:
          format: guid
          nullable: true
          type: string
        style: form
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfEmployeeEarning'
          description: Returns a collection of Employee Earnings based on EmployeeID
            provided
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Get Employee Earnings by EmployeeID
      tags:
      - Employee Earnings
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-employees-employeeId-earnings
      x-accepts: application/json
    post:
      description: "Data Access: Add Employee Earning"
      operationId: EmployeeEarnings_addNewEarning
      parameters:
      - description: ID of an Employee for whom you want to add an Earning
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeEarning2'
        description: Employee Earning object to insert
        required: true
        x-name: employeeEarning
        x-position: 2
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Add Earning to Employee
      tags:
      - Employee Earnings
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-employees-employeeId-earnings
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: "Data Access: Update Employee Earning"
      operationId: EmployeeEarnings_updateData
      parameters:
      - description: ID of an Employee that has the Earning you wish to update
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeEarning3'
        description: Employee Earning object with updated fields
        required: true
        x-name: employeeEarning
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Update Employee Earning
      tags:
      - Employee Earnings
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-employees-employeeId-earnings
      x-content-type: application/json
      x-accepts: application/json
  /v1/legalentities/{legalEntityId}/payrollhours:
    post:
      description: |-
        Required parameters in body are: IntegrationVendor, ProcessId, LegalEntityId, EmployeeNumber, DepartmentCode, EarningCode, BusinessStartDate

        Data Access: Import Employee Hours and Earnings to Paygrid
      operationId: EmployeePayrollHours_addHoursAndEarningsToPaygrid
      parameters:
      - description: ID of the Legal Entity for which you want to set employee hours
          and earnings
        explode: false
        in: path
        name: legalEntityId
        required: true
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
        x-position: 1
      - description: "If \"True\" is passed for this query parameter and a matching\
          \ ProcessID is passed, then the system will fully replace the entire record\
          \ that was previously added."
        explode: true
        in: query
        name: replaceData
        required: false
        schema:
          type: boolean
        style: form
        x-position: 3
      - description: "If \"True\" is passed for this query parameter, then the system\
          \ will NOT replace any record that was previously added."
        explode: true
        in: query
        name: appendData
        required: false
        schema:
          type: boolean
        style: form
        x-position: 4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportPayrollHours'
        required: true
        x-name: importPayrollHours
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeePayrollHoursAddHoursAndEarningsToPaygridResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Add Employee Hours And Earnings To Paygrid
      tags:
      - Employee Payroll Hours
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-legalentities-legalEntityId-payrollhours
      x-content-type: application/json
      x-accepts: application/json
  /v1/employees/{employeeId}/payrollhours:
    post:
      description: "Data Access: Import Payroll Hours to Employee"
      operationId: EmployeePayrollHours_importToEmployee
      parameters:
      - description: ID of an Employee for whom you want to add the payroll hours
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeTimeCard2'
        description: Employee Hours object
        required: true
        x-name: employeePayrollHours
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeePayrollHoursImportToEmployeeResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Import Payroll Hours to Employee
      tags:
      - Employee Payroll Hours
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-employees-employeeId-payrollhours
      x-content-type: application/json
      x-accepts: application/json
  /v1/employees/{employeeId}/I9Verification:
    get:
      description: "Data Access: View I9 Verification"
      operationId: EmployeeI9Verification_getByEmployeeId
      parameters:
      - description: ID of the employee for whom you want to get the I9 information
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      - description: "Options to include more data: documents"
        explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            $ref: '#/components/schemas/Includes7'
          nullable: true
          type: array
          xml:
            name: ArrayOfIncludes
            wrapped: true
        style: form
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/I9Verification'
          description: Returns a list of employee I9 verification docs based on EmployeeID
            provided
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Get Employee I9 Verification by EmployeeID
      tags:
      - Employee I9 Verification
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-employees-employeeId-I9Verification
      x-accepts: application/json
    put:
      description: "Data Access: Edit I9 Verification"
      operationId: EmployeeI9Verification_updateByEmployeeIdI9Verification
      parameters:
      - description: ID of an Employee for whom you want to update the I9 Verification
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/I9Verification2'
        description: I9 Verification object
        required: true
        x-name: i9Verification
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Update I9 Verification by EmployeeID
      tags:
      - Employee I9 Verification
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-employees-employeeId-I9Verification
      x-content-type: application/json
      x-accepts: application/json
  /v1/employees/{employeeId}/payrates:
    get:
      description: "Data Access: View Employee Payrates"
      operationId: EmployeePayRates_getByEmployeeId
      parameters:
      - description: ID of employee for which you want to get payrates
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      - description: Token to get next set of payrates
        explode: true
        in: query
        name: continuationToken
        required: false
        schema:
          format: guid
          nullable: true
          type: string
        style: form
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfEmployeePayRate'
          description: Returns payrates based on EmployeeID
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Get Employee Payrates by EmployeeID
      tags:
      - Employee Pay Rates
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-employees-employeeId-payrates
      x-accepts: application/json
    post:
      description: "This immediately creates a new payrate related to an Employee\
        \ in Paycor's system. There is no way to undo or reverse this operation. \n\
        \nData Access: Create Employee PayRates\nSequence numbers must be consecutive\
        \ and unique"
      operationId: EmployeePayRates_addNewRate
      parameters:
      - description: ID of the Employee you wish to create the payrate for
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeePayRate2'
        description: Create Payrate model
        required: true
        x-name: payRatePost
        x-position: 2
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
          description: Returns a CreateOrUpdateResponse object.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Add Payrate to Employee
      tags:
      - Employee Pay Rates
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-employees-employeeId-payrates
      x-content-type: application/json
      x-accepts: application/json
  /v1/employees/{employeeId}/payrates/{payrateId}:
    put:
      description: "Data Access: Update Employee PayRates"
      operationId: EmployeePayRates_updateByEmployeeIdAndPayrateId
      parameters:
      - description: ID of an Employee that has the Payrate you wish to update
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      - description: ID of the Payrate you wish to update
        explode: false
        in: path
        name: payrateId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeePayRate3'
        description: EmployeePayRate with ID set and fields updated
        required: true
        x-name: employeePayRate
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Update Employee Payrate by EmployeeID
      tags:
      - Employee Pay Rates
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-employees-employeeId-payrates-payrateId
      x-content-type: application/json
      x-accepts: application/json
  /v1/employees/{employeeId}/payschedule:
    get:
      description: "This API will return upcoming pay scheduled for a given employee\
        \ (upcoming check dates),\nor allow looking up the check date for specific\
        \ pay period dates.\n* You must either specify the exact Period Start & End\
        \ Date, or leave them blank. \n  * Alternatively you may consider 'GET Legal\
        \ Entity Pay Schedule' which takes a range parameter.\n  * You can look up\
        \ pay period dates from 'GET Legal Entity Pay Schedule' (scheduled dates)\
        \ or 'GET Legal Entity Pay Data' (actual dates)\n* The actual pay dates may\
        \ change depending on when the client admin processes payroll.\n\nData Access:\
        \ View Employee Pay Schedule"
      operationId: EmployeePaySchedule_getUpcomingCheckDates
      parameters:
      - description: ID of the Employee for which you want to get the Pay Schedule
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      - description: "Exact Period Start Date of Pay Schedule, to lookup specific\
          \ payrun. "
        explode: true
        in: query
        name: periodStartDate
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
        x-position: 2
      - description: "Exact Period End Date of Pay Schedule, if you wish to filter\
          \ - defaults to showing upcoming (future) runs"
        explode: true
        in: query
        name: periodEndDate
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
        x-position: 3
      - description: Token to get the next set of Employee Pay Schedule
        explode: true
        in: query
        name: continuationToken
        required: false
        schema:
          format: guid
          nullable: true
          type: string
        style: form
        x-position: 4
      - description: "Options to include more data: Additional Runs"
        explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            $ref: '#/components/schemas/Includes8'
          nullable: true
          type: array
          xml:
            name: ArrayOfIncludes
            wrapped: true
        style: form
        x-position: 5
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfPayPeriod'
          description: Returns a collection of Employee's Pay Schedules based on EmployeeID
            and filters provided
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Get Employee Pay Schedule by EmployeeID
      tags:
      - Employee Pay Schedule
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-employees-employeeId-payschedule
      x-accepts: application/json
  /v1/employees/{employeeId}/paystubs:
    get:
      description: |-
        Note: Either CheckDate, ProcessDate or PlannerId is required as a parameter. You can find a list of valid dates by calling 'GET Legal Entity Pay Data by Legal Entity ID'.

        Data Access: View Paystub Information
      operationId: EmployeePayStubs_getByEmployeeId
      parameters:
      - description: ID of an Employee for whom you want to get the Pay Stubs
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      - description: Check Date of Pay Stubs - required (unless processDate supplied)
        explode: true
        in: query
        name: checkDate
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
        x-position: 2
      - description: Process Date of Pay Stubs - required (unless checkDate supplied)
        explode: true
        in: query
        name: processDate
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
        x-position: 3
      - description: ID of the Planner for which you want to get the Pay Stubs.
        explode: true
        in: query
        name: plannerId
        required: false
        schema:
          format: guid
          nullable: true
          type: string
        style: form
        x-position: 4
      - description: |-
          Options to include more data: All, GrossAmount, NetAmount, Earnings, Taxes, Deductions

          Data Access required

          GrossAmount = View Paystub Gross Pay Information

          NetAmount = View Paystub Net Pay Information

          Earnings = View Paystub Earning Information

          Taxes = View Paystub Tax Information

          Deductions = View Paystub Deduction Information
        explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            $ref: '#/components/schemas/Includes9'
          nullable: true
          type: array
          xml:
            name: ArrayOfIncludes
            wrapped: true
        style: form
        x-position: 5
      - description: Token to get the next set of Employee Pay Stubs
        explode: true
        in: query
        name: continuationToken
        required: false
        schema:
          format: guid
          nullable: true
          type: string
        style: form
        x-position: 6
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfPayStub'
          description: "Returns a collection of Employee Pay Stubs based on EmployeeID\
            \ and date provided, with properties populated based on Include parameter"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Get Employee Pay Stubs by EmployeeID
      tags:
      - Employee Pay Stubs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-employees-employeeId-paystubs
      x-accepts: application/json
  /v1/legalentities/{legalEntityId}/paystubs:
    get:
      description: |-
        Note: Either CheckDate, ProcessDate or PlannerId is required as a parameter.

        Data Access: View Paystub Information by Legal Entity Id
      operationId: EmployeePayStubs_getByLegalEntity
      parameters:
      - description: ID of a Legal entity for which you want to get the Pay Stubs
        explode: false
        in: path
        name: legalEntityId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-position: 1
      - description: Check Date of Pay Stubs - required (unless processDate supplied)
        explode: true
        in: query
        name: checkDate
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
        x-position: 2
      - description: Process Date of Pay Stubs - required (unless checkDate supplied)
        explode: true
        in: query
        name: processDate
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
        x-position: 3
      - description: ID of the Planner for which you want to get the Pay Stubs.
        explode: true
        in: query
        name: plannerId
        required: false
        schema:
          format: guid
          nullable: true
          type: string
        style: form
        x-position: 4
      - description: |-
          Options to include more data: All, GrossAmount, NetAmount, Earnings, Taxes, Deductions

          Data Access required

          GrossAmount = View Paystub Gross Pay Information

          NetAmount = View Paystub Net Pay Information

          Earnings = View Paystub Earning Information

          Taxes = View Paystub Tax Information

          Deductions = View Paystub Deduction Information
        explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            $ref: '#/components/schemas/Includes10'
          nullable: true
          type: array
          xml:
            name: ArrayOfIncludes
            wrapped: true
        style: form
        x-position: 5
      - description: Token to get the next set of Employee Pay Stubs
        explode: true
        in: query
        name: continuationToken
        required: false
        schema:
          format: guid
          nullable: true
          type: string
        style: form
        x-position: 6
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfPayStub2'
          description: "Returns a collection of Employee Pay Stubs based on Legal\
            \ Entity ID and date provided, with properties populated based on Include\
            \ parameter"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Get Employee Pay Stubs by Legal Entity ID
      tags:
      - Employee Pay Stubs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-legalentities-legalEntityId-paystubs
      x-accepts: application/json
  /v1/employees/{employeeId}/paystubsytd:
    get:
      description: "* To Check Date is required parameter.  \n* To get a list of check\
        \ dates, you can use the GET Legal Entity Pay data endpoint.\n\nData Access:\
        \ View Paystub Information YTD"
      operationId: EmployeePayStubs_getYtdByEmployeeId
      parameters:
      - description: ID of an Employee for whom you want to get the Pay Stubs
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      - description: 'Check Date of latest Pay Stub for YTD data. '
        explode: true
        in: query
        name: toCheckDate
        required: true
        schema:
          format: date-time
          type: string
        style: form
        x-position: 2
      - description: |-
          Options to include more data: All, Earnings, Taxes, Deductions

          Data Access required

          Earnings = View Paystub Earning Information YTD

          Taxes = View Paystub Tax Information YTD

          Deductions = View Paystub Deduction Information YTD
        explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            $ref: '#/components/schemas/Includes11'
          nullable: true
          type: array
          xml:
            name: ArrayOfIncludes
            wrapped: true
        style: form
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeePayStubHistory'
          description: "Returns a Employee Pay Stubs based on EmployeeID and date\
            \ provided, with properties populated based on Include parameter"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Get Employee Pay Stubs YTD by EmployeeID
      tags:
      - Employee Pay Stubs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-employees-employeeId-paystubsytd
      x-accepts: application/json
  /v1/legalentities/{legalEntityId}/paystubsytd:
    get:
      description: "* To Check Date is required parameter.  \n* To get a list of check\
        \ dates, you can use the GET Legal Entity Pay data endpoint.\n\nData Access:\
        \ View Paystub Information YTD By Legal Entity"
      operationId: EmployeePayStubs_getYtdByLegalEntity
      parameters:
      - description: ID of a Legal entity for which you want to get the Pay Stubs
        explode: false
        in: path
        name: legalEntityId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-position: 1
      - description: 'Check Date of latest Pay Stub for YTD data. '
        explode: true
        in: query
        name: toCheckDate
        required: true
        schema:
          format: date-time
          type: string
        style: form
        x-position: 2
      - description: |-
          Options to include more data: All, Earnings, Taxes, Deductions

          Data Access required

          Earnings = View Paystub Earning Information YTD By Legal Entity

          Taxes = View Paystub Tax Information YTD By Legal Entity

          Deductions = View Paystub Deduction Information YTD By Legal Entity
        explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            $ref: '#/components/schemas/Includes12'
          nullable: true
          type: array
          xml:
            name: ArrayOfIncludes
            wrapped: true
        style: form
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfEmployeePayStubHistory'
          description: "Returns a Employee Pay Stubs based on Legal Entity ID and\
            \ date provided, with properties populated based on Include parameter"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Get Employee Pay Stubs YTD by Legal entity ID
      tags:
      - Employee Pay Stubs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-legalentities-legalEntityId-paystubsytd
      x-accepts: application/json
  /v1/employees/{employeeId}/schedules:
    get:
      description: |-
        Date requirements:
        * Start Date and End Date must not be more than one year ago
        * Start Date must not be in future
        * Start date and end date range can be no greater than 90 days

        Data Access: View Legacy/Perform Employee Schedules by Employee Id
      operationId: EmployeeLegacyPerformTimeSchedules_getByEmployeeId
      parameters:
      - description: ID of employee for which you want to get schedules
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      - description: "Date range filter, showing which records to return"
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-position: 2
      - description: "Date range filter, showing which records to return"
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeLegacyPerformTimeSchedulesGetByEmployeeIdResponse'
          description: "Collection of Employee Schedules, based on EmployeeID and\
            \ provided date ranges"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Get Employee Schedules by EmployeeID
      tags:
      - Employee (Legacy / Perform Time) Schedules
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-employees-employeeId-schedules
      x-accepts: application/json
    post:
      description: "Data Access: Create Legacy/Perform Time Employee Schedule"
      operationId: EmployeeLegacyPerformTimeSchedules_addToEmployee
      parameters:
      - description: ID of an Employee for whom you want to add a schedule
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schedule2'
        description: Employee Schedule object to insert
        required: true
        x-name: employeeSchedule
        x-position: 2
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
          description: ""
          x-do-not-generate: true
      summary: Add Schedule to Employee
      tags:
      - Employee (Legacy / Perform Time) Schedules
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-employees-employeeId-schedules
      x-content-type: application/json
      x-accepts: application/json
  /v1/legalEntities/{legalEntityId}/schedules:
    get:
      description: |-
        Date requirements:
        * Start Date and End Date must not be more than one year ago
        * Start Date must not be in future
        * Start date and end date range can be no greater than 90 days

        Data Access: View Legacy/Perform Employee Schedules by Legal Entity Id
      operationId: EmployeeLegacyPerformTimeSchedules_getByLegalEntityId
      parameters:
      - description: ID of Legal Entity for which you want to get schedules
        explode: false
        in: path
        name: legalEntityId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-position: 1
      - description: "Date range filter, showing which records to return"
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-position: 2
      - description: "Date range filter, showing which records to return"
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-position: 3
      - explode: true
        in: query
        name: continuationToken
        required: false
        schema:
          format: guid
          nullable: true
          type: string
        style: form
        x-position: 4
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfEmployeeSchedule'
          description: "Collection of Employee Schedules, based on Legal Entity ID\
[...]
